$font_size : (
    size14: 14px,
    size16: 16px,
    size18: 18px,
    size20: 20px,
    size24: 24px,
    size32:32px,
    size36: 36px
);

$menu_color: #3c3b37;
$color_blue: #0f7c90;
$color_blueBorder: #2896a9;
$color_darkBlue: #094c59;
$color_darkBlueBorder:#1c6a78;